body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
}

.headerLogo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 62, 197);
    height: 50px;
    padding: 5px 10px;
    align-items: center;
}

.sideNav{
    position: absolute;
    top: 60px;
    display: none;
    left: 0px;
    background-color: rgb(48, 48, 161);
    color: aliceblue;
    width: 150px;
    height: 91.5vh;
    animation-name: slideNavBar;
    animation-duration: 1s;
}

@keyframes slideNavBar {
    from{left: -100px;}
    to{left: 0px;}
}

.sideNav ul{
    list-style-type: none;
    padding: 0px;
}

.sideNav ul li{
    text-align: center;
    padding: 10px 5px;
}

.sideNav ul li:hover{
    background-color: black;
}

#s{
    appearance: none;
}

#s:checked ~ .sideNav{
    display: block;
}